/* Style Sheet for shows page */

html {
	background: url(../img/contact.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main_content {
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	overflow: hidden;
}

.form {
	width: 76%;
	margin-left: 12%;
	margin-right: 12%;
	color: #000;
}

.fieldset {
	border: 0px solid #000;
}

ul {
	list-style-type: none;
}

input, textarea {
	margin-bottom: 1%;
}

.submit {
	border: 0px solid #000;
}